header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-secundaria);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 97.5%;
    top: 0;
    z-index: 1000;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
}

.logo img{
    max-width: 2rem;
    margin-right: 1rem;
}

nav {
    justify-self: end;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
}

nav ul li a {
    font-size: 16px;
    color: var(--cor-primaria);
    transition: color 0.3s;
    text-decoration: none;
    white-space: nowrap;
}

nav ul li a:hover {
    text-decoration: underline;
}

.menu-button {
    display: none;
    /* Ocultar em telas maiores */
}


/* Estilos responsivos */
@media (max-width: 430px) {
    header {
        display: flex;
        justify-content: start;
        gap: 40%;
        align-items: center;
        padding: 20px;
        background-color: var(--cor-secundaria);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    .menu-button {
        display: block;
        background: none;
        border: none;
        color: var(--cor-primaria);
        cursor: pointer;
        width: 1rem;
    }

    .nav {
        display: none;
    }

    .nav-open {
        position: fixed;
        top: 7rem;
        left: 0;
        width: 100%;
        height: 60%;
        /* background-color: rgba(0, 0, 0, 0.8); */
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }

    .nav-open ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        left: 80%;
        transform: translate(-50%, -50%);
        background-color: var(--cor-secundaria);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
}