#projects {
    padding: 80px 20px;
    background-color: var(--bege);
}

#projects h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.project-card {
    background-color: var(--bege-claro);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;

}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card h3 {
    font-size: 24px;
    margin: 20px;
}

.project-card p {
    font-size: 16px;
    margin: 0 20px 20px 20px;
    color: var(--marrom-escuro);
}

.project-card .btn {
    display: block;
    text-align: center;
    margin: 0 20px 20px 20px;
    padding: 10px 20px;
    background-color: var(--marrom);
    color: var(--bege);
    border-radius: 5px;
    text-decoration: none;
}

.project-card .btn:hover {
    background-color: var(--marrom-escuro);
}